{{!
HTML template for the queue component. See <https: //handlebarsjs.com>
    }}

    <div class="vcr-plugin">
        <div id="queue-component" class="well {{position}} {{minimizedClass}} {{customClass}}">
            <div class="component-control">
                <a class="component-control-hide-toggle do-hide" href="#">{{{icons.hide}}} Hide</a>
                <a class="component-control-hide-toggle do-show" href="#" >{{{icons.show}}} Show VCR queue
                    ({{items.length}} items)</a>
                <a class="component-control-help" href="#" aria-label="Help">{{{icons.help}}}</a>
            </div>
            <div class="content">
                <div class="queue-control-message-content-container alert alert-danger hidden" role="alert">
                    <button type="button" class="close" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <span class="queue-control-message-content"></span>
                </div>

                {{#if submitted}}
                <div class="alert alert-warning" role="alert">
                    <button type="button" class="close" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <span class="queue-control-message-content">The queue has already been submitted. <a href="#" class="clearVcrQueue">Clear the queue.</a></span>
                </div>
                {{/if}}
                
                <h2>Items to submit to the VCR</h2>
                <form target="_blank" method="post" action="{{submitEndpoint}}">
                    <input type="hidden" name="name" value="{{name}}" />
                    <ul class="queue-items">
                        {{#each items}}
                        <li data-vcr-url="{{url}}">
                            {{title}}
                            <a class="itemUrlLink" href="{{url}}" title="Go to the linked resource">{{{../icons.itemUrlLink}}}</a>
                            <a class="removeFromVcrQueue text-danger" href="#" title="Remove from queue" role="button">{{{../icons.remove}}}</a>
                            {{! Input value is produced with custom helper defined in src/templates/helpers }}
                            <input type="hidden" name="resourceUri" value="{{resource_uri this}}" />
                        </li>
                        {{/each}}
                    </ul>
                    <input type="submit" class="btn btn-primary submitVcrQueue" value="Submit" />
                    <button type="button" class="btn btn-default clearVcrQueue">Clear</button>
                </form>
            </div>
            <div class="minimized-content"></div>
        </div>
    </div>